<html>
<head>
    <meta charset="UTF-8">
    <title>Checklist Form</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% include 'header.html' %}
</head>
<body>
    <h1>Checklist Form</h1>
    <form method="post" onsubmit="logSelectedCheckboxes()">
        {% csrf_token %}
        <label>
            {{ unity_check.4 }}
            <br>
            {{ unity_check.1 }} {{ unity_check.2 }}
        </label>
        <br><br>

       {% if unity_check.3 == 1 %}
        <h2>Checklist Items:</h2>
        <br>
            {% for item in checklist_items %}
                {% ifchanged item.4 %}
                    <h3>&nbsp;&nbsp;{{ item.4 }} </h3>
                 <!-- Unity Name - Display only once -->
                {% endifchanged %}
                    {% ifchanged item.6 %}
                        <h4> &nbsp;&nbsp;&nbsp;&nbsp;{{ item.6 }}</h4>
                        <!-- Detail Name - Display only once per change -->
                    {% endifchanged %}
                        <label>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <input type="checkbox" name="checklist_item_sub" value="{{ item.8 }}">
                            {{ item.7 }} <!-- un_sub_num -->
                        </label>
                            <br>
            {% endfor %}

        {% elif unity_check.3 == 2 %}
            <h2>Checklist Items:</h2>
            {% for item in checklist_items %}
                {% ifchanged item.3 %}
                    <br>
                    <h3>{{ item.3 }} รหัสเลขที่ :{% if item.2 %} {{ item.2 }} {% endif %}</h3> <!-- Unity Name - Display only once -->
                {% endifchanged %} <!-- Unity Name -->
                    <label>
                   &nbsp;&nbsp; <input type="checkbox" name="checklist_item_sub" value="{{ item.6 }}">
                    {{ item.5 }} <!-- Detail Name -->
                    </label>
                <br>
            {% endfor %}
        {% endif %}
        <input type="hidden" id="selected_checkboxes" name="selected_checkboxes" value="">
        <br>
        <input type="submit" value="Submit Checklist">
    </form>

    <script>
        function logSelectedCheckboxes() {
            var checkboxes = document.getElementsByName('checklist_item_sub');
            var selectedCheckboxes = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedCheckboxes.push(checkboxes[i].value);
                }
            }
            console.log('Selected Checkboxes:', selectedCheckboxes);

            // Set the selected checkboxes to a hidden input field in the form
            document.getElementById('selected_checkboxes').value = selectedCheckboxes.join(',');
        }
    </script>
</body>
</html>
