<!DOCTYPE html>
<html>
<head>
    {% if request.session.id_user_type == 1 %}
    <meta charset="UTF-8">
    <title>Checklist Form</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% include 'master.html' %}
</head>
<body>
    <h1>Checklist Form</h1>
        <form method="post">
        {% csrf_token %}
        <label for="unity_check_id">Unity Check ID:</label>
        <select id="unity_check_id" name="unity_check_id" required>
            {% for unity_check in unity_checks %}
                <option value="{{ unity_check.0 }}">{{ unity_check.0 }}</option>
            {% endfor %}
        </select>
        <br><br>

        <h2>Checklist Items:</h2>
        {% for item in checklist_items %}
            <label>
                <input type="checkbox" name="checklist_item" value="{{ item.2 }}">
                {{ item.2 }}
            </label>
            <br>
        {% endfor %}

        <br>
        <input type="submit" value="Submit Checklist">
    </form>
</body>
{% else %}
    <script>
        // แสดง confirm box เมื่อหน้านี้ถูกเรียกใช้
        window.onload = function () {
            alert("คุณไม่มีสิทธิ์ในการเพิ่มผู้ใช้งาน");
            window.history.back();
        };
    </script>
{% endif %}
</html>

