<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% include 'master.html' %}
    <title>QR Code Checklist</title>

    <style>
        /* สไตล์สำหรับ checkbox */
        input[type="checkbox"] {
            margin-right: 8px; /* ระยะห่างระหว่าง checkbox และข้อความ */
            width: 20px;
            height: 20px;
        }
        label.sub-label {
            margin-left: 24px; /* ระยะห่างของ sub label จากซ้าย */
            font-size: 18px;
        }
        /* สไตล์สำหรับ label */
        label {
            margin-right: 20px; /* ระยะห่างระหว่าง label และ checkbox/ข้อความ */
        }
        /* สไตล์สำหรับ sub label */
        #checkboxes {
            font-size: 24px;
        }

        /* สไตล์สำหรับ line break */
        br {
            line-height: 24px; /* ความสูงของบรรทัดใหม่ */
        }
    </style>

</head>
<body>
    <div class="container">
          <script>
            let checkboxesContainer; // ตัวแปร global สำหรับเก็บอิลิเมนต์ของ checkboxesContainer
            let item_id2Textbox; // ตัวแปร global สำหรับเก็บอิลิเมนต์ของ textbox

                document.addEventListener("DOMContentLoaded", function() {
                    const checkListTypeSelect = document.getElementById("check_list_type");
                    checkboxesContainer = document.getElementById("checkboxes"); // กำหนดค่าให้กับตัวแปร checkboxesContainer


                    // เรียกใช้งานฟังก์ชัน createInputTextbox เพื่อสร้าง textbox
                    createInputTextbox();

                    // นำค่าของ textbox ไปเก็บในตัวแปร item_id2Textbox
                    item_id2Textbox = document.getElementById("item_id2_textbox");

                    // เพิ่ม event listener ให้กับ checkboxes เพื่ออัปเดตค่าของ checkbox เมื่อมีการเปลี่ยนแปลงใน checkbox
                    document.querySelectorAll("input[name='checklist_item']").forEach(checkbox => {
                        checkbox.addEventListener("change", function(event) {
                            const originalValue = checkbox.dataset.originalValue; // ค่าเดิมที่อยู่ใน dataset.originalValue
                            const textboxValue = item_id2Textbox.value; // ค่าที่อยู่ใน textbox

                            checkbox.value = `${originalValue}!${textboxValue}`; // รวมค่าเข้าด้วยกันเป็น "item_id2-textbox_value"

                            // แสดงค่าที่อยู่ใน checkbox ที่ถูกเลือกใน console.log()
                            const selectedCheckboxes = document.querySelectorAll("input[name='checklist_item']:checked");
                            const selectedValues = Array.from(selectedCheckboxes).map(checkbox => checkbox.value);
                            console.log(selectedValues);

                            // นำค่าที่ถูกเลือกและค่าของ textbox ไปอัปเดตในรูปแบบของ "item_id2-textbox_value" และส่งค่าไปยังฟอร์มเมื่อมีการ submit
                            const item_id2TextboxValue = item_id2Textbox.value;
                            checkboxes.forEach(checkbox => {
                                if (checkbox.checked) {
                                    checkbox.value = `${checkbox.dataset.originalValue}!${item_id2TextboxValue}`;
                                }
                            });
                        });
                    });

                    // เพิ่ม event listener ให้กับ textbox เพื่ออัปเดตค่าของ checkbox เมื่อมีการเปลี่ยนแปลงใน textbox
                    item_id2Textbox.addEventListener("input", function() {
                    const textboxValue = item_id2Textbox.value; // ค่าที่อยู่ใน textbox
                    const checkboxes = document.querySelectorAll("input[name='checklist_item']");

                    checkboxes.forEach(checkbox => {
                        const originalValue = checkbox.dataset.originalValue; // ค่าเดิมที่อยู่ใน dataset.originalValue
                    const checkboxValueParts = checkbox.value.split("!"); // แยกค่า checkbox.value เป็นส่วนย่อยๆ

                    // ตรวจสอบว่าค่าเดิมและค่าใหม่ของ textbox เปลี่ยนแปลงหรือไม่
                        if (checkboxValueParts.length === 2) {
                            const oldValue = checkboxValueParts[1];
                            if (oldValue !== textboxValue) {
                                checkbox.value = `${originalValue}!${textboxValue}`; // รวมค่าเข้าด้วยกันเป็น "item_id2-textbox_value"
                            }
                        }
                    });

                    });


                    // เพิ่ม event listener ให้กับฟอร์มเมื่อมีการ submit
                    document.querySelector("form").addEventListener("submit", function(event) {
                        // ตรวจสอบว่ามี checkbox ที่ถูกเลือกอย่างน้อยหนึ่งช่องหรือไม่
                        const selectedCheckboxes = document.querySelectorAll("input[name='checklist_item']:checked");
                        if (selectedCheckboxes.length === 0) {
                            event.preventDefault(); // ยกเลิกการส่งฟอร์มเมื่อไม่มี checkbox ที่ถูกเลือก
                            alert("กรุณาเลือกอย่างน้อยหนึ่งช่อง");
                            return;
                        }
                        const selectedCheckboxesInput = document.createElement("input");
                        selectedCheckboxesInput.type = "hidden";
                        selectedCheckboxesInput.name = "selected_checkboxes";
                        selectedCheckboxesInput.value = selectedCheckboxes.length > 0 ? selectedCheckboxes.map(checkbox => checkbox.value).join(',') : '';
                        form.appendChild(selectedCheckboxesInput);
                        // กำหนดค่า value ของ checkbox เป็นค่าของ "item_id2-textbox_value"
                        const item_id2Textbox = document.getElementById("item_id2_textbox");
                        const checkboxes = document.getElementsByName("checklist_item");
                        checkboxes.forEach(checkbox => {
                            checkbox.value = checkbox.dataset.originalValue + "!" + item_id2Textbox.value;
                        });
                    });
                });

                // สร้าง textbox สำหรับรหัสเลขที่หลัง checkbox ที่มีค่า item_id2
                function createInputTextbox() {
                    const inputTextbox = document.createElement("input");
                    inputTextbox.type = "text";
                    inputTextbox.name = "textbox_item";
                    inputTextbox.placeholder = "รหัสเลขที่"; // กำหนด placeholder ให้กับ textbox
                    inputTextbox.id = "item_id2_textbox"; // กำหนด id ให้กับ textbox
                    inputTextbox.style.display = "none"; // ซ่อน textbox นอก lable ของ checkbox
                    checkboxesContainer.appendChild(inputTextbox);

                    // Add a line break after the textbox
                    const br = document.createElement("br");
                    checkboxesContainer.appendChild(br);
                }

        </script>
        <br>
        <h1>QR Code Checklist</h1><br>
        <form method="post" action="{% url 'generate_qr_code' %}" onsubmit="return confirmGenerateQRCode()">
            {% csrf_token %}
            <label for="check_list_type">Check_list_type :</label>
            <select id="check_list_type" name="check_list_type" required>
                {% for list_type in check_list_types %}
                <option value="{{ list_type.id_ch_li_type }}">{{ list_type.name_ch_li_type }}</option>
                {% endfor %}
            </select>
            <br><br>

            <label for="department">Department&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
            <select id="department" name="department" required>
                {% for dept in departments %}
                <option value="{{ dept.id }}">{{ dept.name }}</option>
                {% endfor %}
            </select>
            <label for="area">&nbsp;&nbsp;&nbsp;Area :</label>
                <select id="area" name="area" required>
                    {% for area in areas %}
                    <option value="{{ area.id }}">{{ area.name }}</option>
                    {% endfor %}
                </select>
            <br><br>

            <div id="checkboxes">
                <!-- Checkboxes will be populated here using JavaScript -->
            </div>
            <br>
           <input type="submit" value="Generate QR Code" class="generate_qr_btn">
           <script>
                function confirmGenerateQRCode() {
                    return confirm("คุณแน่ใจหรือไม่ว่าต้องการสร้าง QR Code?");
                }
           </script>
        </form>
      {% if duplicate_error %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    if ({{ duplicate_error|lower }}) {
                        var shouldGenerate = confirm("Area ของแผนกนี้ได้ทำการสร้าง QR Code แล้ว คุณต้องการที่จะทำการสร้าง QR Code ใหม่หรือไม่?");
                        if (!shouldGenerate) {
                            // ไม่ต้องทำอะไรเพิ่ม
                        }
                    }
                });
            </script>
        {% endif %}
        <br>
        {% if qr_code_path %}
        <h2>QR Code</h2>
        <img src="../media/{{ qr_code_path }}" alt="QR Code">
        {% endif %}
       <script>
            // To show the selected checkboxes immediately when the user clicks each checkbox
            document.addEventListener("change", function(event) {
                if (event.target.name === "checklist_item") {
                    const selectedCheckboxes = [];
                    const checkboxes = document.getElementsByName("checklist_item");

                    checkboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            selectedCheckboxes.push(checkbox.value);
                        }
                    });

                    console.log(selectedCheckboxes); // ค่าที่อยู่ใน checkbox ที่ถูกเลือกจะถูกแสดงใน console.log()
                }
            });
        </script>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkListTypeSelect = document.getElementById("check_list_type");
        const checkboxesContainer = document.getElementById("checkboxes");
        let selectedType = "";

        function createCheckboxWithLabel(value, labelText, isSubLabel) {
            const label = document.createElement("label");

            const checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.name = "checklist_item";
            checkbox.value = value; // ใช้ตัวแปร value ที่ส่งมาจาก Django View เป็นค่า value ของ checkbox
            checkbox.dataset.originalValue = value; // เก็บค่าเดิมของ checkbox ไว้ใน dataset.originalValue
            label.appendChild(checkbox);

            const textSpan = document.createElement("span");
            textSpan.innerHTML = labelText;
            label.appendChild(textSpan);

            checkboxesContainer.appendChild(label);

            if (selectedType !== "1") {
                const inputTextbox = document.createElement("input");
                inputTextbox.type = "text";
                inputTextbox.name = "textbox_item";
                inputTextbox.placeholder = "รหัสเลขที่"; // กำหนด placeholder ให้กับ textbox
                label.appendChild(inputTextbox);

                // Add event listener to update checkbox value when the textbox value changes
                inputTextbox.addEventListener("input", function() {
                    // Update the checkbox value with the combined value
                    checkbox.value = `${value}!${inputTextbox.value}`;
                });
            }

            // ตรวจสอบว่ามี <br> ก่อนหน้านี้หรือไม่
            const lastElement = checkboxesContainer.lastChild;
            if (!(lastElement instanceof HTMLBRElement)) {
                const br = document.createElement("br");
                checkboxesContainer.appendChild(br);
            }
        }

        function createSubLabelWithCheckbox(labelText, checkboxValue) {
        if (labelText) {
            const label = document.createElement("label");

            const checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.name = "checklist_item";
            checkbox.value = checkboxValue; // ใช้ checkboxValue ที่ถูกส่งมาเป็นค่า value ของ checkbox
            checkbox.dataset.originalValue = checkboxValue; // เก็บค่าเดิมของ checkbox ไว้ใน dataset.originalValue
            label.appendChild(checkbox);

            const textSpan = document.createElement("span");
            textSpan.innerHTML = labelText;
            label.appendChild(textSpan);

            label.classList.add("sub-label");
            checkboxesContainer.appendChild(label);

            const br = document.createElement("br");
            checkboxesContainer.appendChild(br);
        }
    }


        checkListTypeSelect.addEventListener("change", function() {
            selectedType = checkListTypeSelect.value; // กำหนดค่า selectedType เมื่อผู้ใช้เลือกประเภท checklist
            // Get the list of checkboxes for the selected type from Django view using AJAX
            fetch(`/get_checkboxes/${selectedType}/`)
                .then(response => response.json())
                .then(data => {
                    // Clear existing checkboxes and textboxes
                    checkboxesContainer.innerHTML = "";

                    // Variables to store the last displayed unity_name and detail_name
                    let lastUnityName = null;
                    let lastDetailName = null;

                    // Populate checkboxes and textboxes
                    data.forEach(item => {
                        // Display unity_name as a main checkbox if it's not the same as the last displayed one
                        if (item.unity_name !== lastUnityName) {
                            createCheckboxWithLabel(selectedType === "1" ? item.un_item_id : item.item_id2, item.unity_name, false);
                            if (selectedType !== "1") {
                                createInputTextbox(); // สร้าง textbox หากไม่ใช่ selectedType เป็น "1"
                            }
                            lastUnityName = item.unity_name;
                        }

                        // Check if there's a detail_name and display it as a sub-label with checkbox
                        if (selectedType === "1" && item.detail_name !== lastDetailName) {
                            lastDetailName = item.detail_name;
                            createSubLabelWithCheckbox(item.detail_name, item.item_id); // สร้าง sub-label และ checkbox สำหรับ detail_name
                        }
                    });
                })
                .catch(error => {
                    console.error("Error fetching checkboxes:", error);
                });
        });
    });
</script>


</body>
</html>
