
<html>
<head>
    <title>List Unity Check List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% include 'header.html' %}
    {% load static %}
</head>
<body>
    <div class="container">
        <div class="center-align">
            <a>
               <br><h4> List Unity Check List </h4>
            </a>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>QR Code</th>
                    <th>Department</th>
                    <th>Area</th>
                    <th>ชนิดแบบฟอร์ม</th>
                    <th>วันที่</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tr">
                     {% for listchecklist in listchecklists %}
                <tr>
                    <td>{{ listchecklist.0 }}</td>
                    <td>
                        <a href="#" class="btn btn-link" onclick="showQRCode('{{ listchecklist.5 }}')">
                            <img src="{% static 'pic/QR.PNG' %}" class="rounded" alt="QRcode" width="25px" height="25px">
                        </a>
                    </td>
                    <td>{{ listchecklist.1 }}</td>
                    <td>{{ listchecklist.2 }}</td>
                    <td>{{ listchecklist.3 }}</td>
                    <td>{{ listchecklist.4 }}</td>
                    <<td>
                        <a href="{% url 'checklist_form' listchecklist.0 %}" class="btn btn-link">
                            <img src="{% static 'pic/edit.PNG' %}" class="rounded" alt="edit" width="20px" height="25px">
                        </a>
                    </td>
                {% endfor %}

            </tbody>
        </table>
    <script>
        function showQRCode(qrCodePath) {
            // สร้าง URL ของภาพ QR Code ด้วยค่าจากคอลัมน์ qr_code และที่อยู่ของไฟล์
            const qrCodeURL = `../media/qrcodes/${qrCodePath}.png`;

            // เปิดหน้าต่างใหม่แสดงภาพ QR Code
            window.open(qrCodeURL, '_blank', 'width=400,height=400');
        }
    </script>
    </div>
</body>
</html>