<html>
<head>
    <meta charset="UTF-8">
    <title>Checklist report</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <style>
        .col {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    </style>
</head>
<body>
    <div class="col">
            <img src="{% static 'pic/P1.JPG' %}" class="rounded" alt="nidec" width="160px" height="85px"> <br><br>
     </div>

    <form method="post" onsubmit="logSelectedCheckboxes()">
        {% csrf_token %}
        <div class="col">
              <br><br> <h4>{{ unity_check.4 }} </h4>
        </div>
        <div class="col">
               <br> <h4>Department : {{ unity_check.1 }}&nbsp;&nbsp;&nbsp;&nbsp; Area : {{ unity_check.2 }}</h4>
            <br><br>
        </div>
    {% if unity_check.3 == 1 %}
    <table class="table">
         <thead>
                <tr>
                    <th>หมวด</th>
                    <th>เรื่อง</th>
                    <th>รายละเอียด</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Apr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                </tr>
         </thead>
        <tbody id="tr1">
            {% for item in report_data %}
            <tr>
                <td>
                    {% ifchanged item.Head %}
                        {{ item.Head }}
                    {% endifchanged %}
                </td>
                <td>
                    {% ifchanged item.subhead %}
                        {{ item.subhead }}
                    {% endifchanged %}
                </td>
                <td>{{ item.LineDetail }}</td>
                <td>{% if item.valuecheck1 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck2 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck3 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck4 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck5 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck6 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck7 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck8 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck9 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck10 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck11 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <td>{% if item.valuecheck12 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                <!-- เพิ่มคอลัมน์สำหรับ Value 3 ถึง Value 12 ตามต้องการ -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif unity_check.3 == 2 %}
    <table class="table">
             <thead>
                    <tr>
                        <th>ชื่ออุปกรณ์</th>
                        <th>รายละเอียดการเช็ค</th>
                        <th>รหัสอุปกรณ์</th>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </tr>
             </thead>
            <tbody id="tr2">
                {% for item in report_data %}
                <tr>
                    <td>
                        {% ifchanged item.Head %}
                            {{ item.Head }}
                        {% endifchanged %}
                    </td>
                    <td>{{ item.subhead }}</td>
                    <td>
                        {% ifchanged item.LineDetail %}
                            {% if item.LineDetail %}
                                {{ item.LineDetail }}
                            {% endif %}
                        {% endifchanged %}
                    </td>
                    <td>{% if item.valuecheck1 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck2 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck3 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck4 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck5 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck6 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck7 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck8 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck9 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck10 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck11 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <td>{% if item.valuecheck12 %}<span class="checkmark">&#10004;</span>{% endif %}</td>
                    <!-- เพิ่มคอลัมน์สำหรับ Value 3 ถึง Value 12 ตามต้องการ -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>

</html>
