<html>
{% if request.session.username %}
<head>

    <title>Main Unity Check List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% include 'header.html' %}
    {% load static %}
</head>
<body>
    <div class="container">
        <div class="center-align">
            <a>
               <br><h4>  Unity Check List </h4>
            </a>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Department</th>
                    <th>Area</th>
                    <th>ชนิดแบบฟอร์ม</th>
                    <th>วันที่</th>
                    <th>สถานะ</th>
                </tr>
            </thead>
            <tbody id="tr">
                     {% for listchecklist in listchecklists %}
                <tr>
                    <td>{{ listchecklist.0 }}</td>
                    <td>{{ listchecklist.1 }}</td>
                    <td>{{ listchecklist.2 }}</td>
                    <td>{{ listchecklist.3 }}</td>
                    <td>{{ listchecklist.4 }}</td>
                    <td class="{% if listchecklist.7 == 'g' %}bg-success{% elif listchecklist.7 == 'y' %}bg-warning{% elif listchecklist.7 == 'r' %}bg-danger{% endif %}">
                        {{ listchecklist.6 }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
{% else %}
    <p>กรุณาล็อกอินเพื่อเข้าถึงหน้านี้</p>
    <a href="{% url 'login' %}">เข้าสู่ระบบ</a>
{% endif %}
</html>